/* Break Points */
$max-width: 1100px;
$min-width: 290px;

$break-l: $max-width - 200px;
$break-m: 660px;
$break-s: $min-width + 40px;

/* Sizes */
$content-radius: 1.8em;
$border-box-bradius: 1.1em;

$button-height: 2em;
$button-bradius: 0.4em;

$input-height: 2em;
$input-bradius: 0.4em;

$ol-left-padding: 2.2em;

/* Styles */
$text-light-opacity: 0.6;

/* Speeds */
$card-trans-spd: 0.2s;
$slide-speed: 0.2s;
  
/* SCSS Mixins & Classes for Responsiveness */
@mixin small() {
  @media only screen and (max-width: $break-s) {
      @content;
  }
}

@mixin medium() {
  @media only screen and (max-width: $break-m) {
      @content;
  }
}

@mixin large() {
  @media only screen and (max-width: $break-l) {
      @content;
  }
}

/* Touch devices */
@mixin touch() {
  @media (hover: none) {
      @content;
  }
}
