/* Inter Font */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter'),
       local('Inter-Regular'),
       url('/inter-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local('Inter'),
       local('Inter-Bold'),
       url('/inter-700.woff2') format('woff2');
}

/* HTML and BODY */
html {
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;

  /* Color Variables */
  --content-color-0: #1a3a42;
  --content-color-1: #214752;
  --content-color-2: #2c5b68;
  --accent-color: #f5d33c;
  --alert-color: #d11534;
  --text-color: #f7f7f7;
  --text-color-darker: #a5a5a5;
  --text-color-accent: #162f36;
}

body {
  margin: 0 auto;
  width: 100%;
  color: var(--text-color);
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  font-family: Inter, Helvetica, Arial, sans-serif;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Utility Classes */
.bold {
  font-weight: bold;
}

.small {
  font-size: 0.75rem;
}

.medium {
  font-size: 1rem;
}

.large {
  font-size: 2rem;
}

.xlarge {
  font-size: 3rem;
}

.smaller {
  font-size: 0.75em;
}

.larger {
  font-size: 1.5em;
}

.r-align {
  text-align: right;
}

.l-align {
  text-align: left;
}

/* Word-Break and -Wrap Utilities*/
.wrd-break {
  word-wrap: break-word;
  overflow: hidden;    
}

.no-break {
  white-space: nowrap ;
}

.no-select {
  user-select: none;
}

/* Flexbox Utilities */
.flex-vc {
  display: flex;
  align-items: center;
}

.flex-lc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-rc {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-cst {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

/* Common & Shared CSS*/
main {
  padding: 1em;
}

.border-box {
  padding: 1em;
  border-radius: 1.1em;
  backdrop-filter:brightness(120%);
}

.border-box .border-box {
  padding: 0.7em;
  border-radius: 0.7em;
}
