/* Inter Font */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local('Inter'), local('Inter-Regular'), url('/inter-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local('Inter'), local('Inter-Bold'), url('/inter-700.woff2') format('woff2');
}

/* HTML and BODY */
html {
    background-color: var(--background-color);
    box-sizing: border-box;
    text-align: center;

    /* Default Color Variables */
    --body-background-color: white;
    --app-shadow-color: #9e9e9e;

    --content-color-0: #1a3a42;
    --content-color-1: #214752;
    --content-color-2: #285562;
    --content-color-3: #306676;

    --accent-color: #f5d33c;
    --alert-color: #d11534;
    --ok-color: #06ac51;

    --text-color: #f7f7f7;
    --text-color-darker: #a7b9be;
    --text-color-accent: #162f36;

    --demo-text-color: var(--content-color-0);
    --demo-text-color-hover: var(--content-color-2);

    --hr-color-1: var(--content-color-1);
    --hr-color-2: var(--content-color-2);

    --header-color: var(--content-color-0);
    --header-text-color: var(--text-color);

    --footer-color: var(--content-color-0);
    --footer-text-color: var(--content-color-3);
    --footer-text-color-hover: var(--text-color);

    --compass-color: var(--text-color);
    --compass-background-color: var(--content-color-1);
    --compass-cross-color: var(--content-color-2);
    --compass-center-color: var(--content-color-3);
    --compass-needle-color: var(--text-color);
    --compass-req-needle-color: var(--content-color-0);
    --compass-cardinals-color: var(--content-color-3);
    --compass-degrees-color: var(--content-color-3);

    --button-color: var(--accent-color);
    --button-text-color: var(--text-color-accent);

    --input-color: var(--text-color);
    --input-text-color: var(--text-color-accent);

    /* Color Variables */
    //--test-color: #12262c;

    /* Responsive Font Size*/
    --font-size: 14px;
    font-size: var(--font-size);
    -webkit-text-size-adjust: 100%;
    
    @include large {
        font-size: calc(var(--font-size) - 1px);
    }

    @include small {
        font-size: calc(var(--font-size) - 2px);
    }
}

body {
    background-color: var(--body-background-color);
    color: var(--text-color);
    width: 100%;
    min-height: 100vh;
    padding: 2em;

    @include medium() {
        padding: 1em;
    }

    @include small() {
        padding: 0em;
    }
}

#app {
    min-width: $min-width;
    width: 100%;
    max-width: $max-width;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    font-family: Inter, Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol {
    margin: 0;
    padding: 0 0 0 $ol-left-padding;
    line-height: 1.5;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin: 0;
}

.a-hover-dark {
    &:hover {
        color: var(--text-color);
        text-decoration: underline;
    }
}

/* Utility Classes */
/* =============== */

/* Hide and Show Utilities */
.hide {
    display: none !important;
}
  
.hide-s {
    @include small {
      display: none !important;
    }
}
  
.hide-m {
    @include medium {
      display: none !important;
    }
}
  
.hide-l {
    @include large {
      display: none !important;
    }
}
  
.show-s-only {
    @media only screen and (min-width: calc($break-s + 1px)) {
      display: none !important;
    }
}
  
.show-m-smaller {
    @media only screen and (min-width: calc($break-m + 1px)) {
      display: none !important;
    }
  }

/* Font Utilities */
.bold {
    font-weight: bold;
}

.txt-light {
    opacity: $text-light-opacity;
}

.txt-dark {
    color: var(--text-color-darker);
}

.small {
    font-size: 0.75rem;
}

.normal {
    font-size: 1rem;
}

.medium {
    font-size: 1.25rem;
}

.large {
    font-size: 1.5rem;
}

.xlarge {
    font-size: 2rem;
}

.xxlarge {
    font-size: 2.5rem;
}

.massive {
    font-size: 3rem;
}

/*-----*/

.smaller {
    font-size: 0.75em;
}

.larger {
    font-size: 1.25em;
}

/*-----*/

.r-align {
    text-align: right;
}

.l-align {
    text-align: left;
}

.c-align {
    text-align: center;
}

/* Word-Break and -Wrap Utilities*/
.wrd-break {
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

.no-wrap {
    white-space: nowrap;
}

.no-wrap-ellip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-select {
    -webkit-user-select: none;
    user-select: none;
}

.monospace {
    font-variant-numeric: tabular-nums;
}

/* Flexbox Utilities */
.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}

.flex-vc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-vl {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.flex-vr {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.flex-vst {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.flex-hc {
    display: flex;
    align-items: center;
}

.flex-cl {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-cr {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-cc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-csp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-cst {
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.flex-stc {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.gap-one,
.gap {
    gap: 1em;
}

.gap-half {
    gap: 0.5em;
}

/* Common & Shared CSS*/
main {
    padding: 1em;
}

.border-box {
    padding: 1em !important;
    border-radius: $border-box-bradius;
    background: var(--content-color-2);

    hr {
        border-top: 1px solid var(--hr-color-1);
    }
}

.border-box .border-box {
    border-radius: calc($border-box-bradius / 2);
    background: var(--content-color-3);

    hr {
        border-top: 1px solid var(--hr-color-2);
    }
}

.border-box .border-box .border-box {
    border-radius: calc($border-box-bradius / 3);
    background: var(--content-color-2);

    hr {
        border-top: 1px solid var(--hr-color-1);
    }
}

/* Button Styling */
button,
.button {
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0.25em 0.6em;
    margin: 0;
    border: none;
    border-radius: $button-bradius;
    background: var(--button-color);
    color: var(--button-text-color);
    cursor: pointer;

    @extend .no-select
}

@media (hover: hover) {
    button:hover,
    .button:hover {
        filter: brightness(130%);
    }
}

.btn-pressed {
    filter: brightness(130%);
}

.btn-pressed,
button:enabled:active,
.button:active {
    transform: scale(0.95);
}

button:disabled {
    filter: saturate(10%);
    cursor: not-allowed;
}

.btn-std-resp {
    min-height: $button-height;
    padding: 0 1em;

    @media (hover: none) {
        font-size: 1.1rem !important;

        @include medium {
            font-size: 1.2rem !important;
        }

        @include small {
            font-size: 1.2rem !important;
        }
    }
}

/* Input - Text and Number */
input[type='text'],
input[type='number'] {
    font-size: 1rem;
    width: 100%;
    min-height: $input-height;
    padding: 0.25em 0.6em;
    border-radius: $input-bradius;
    border: none;
    outline: none;
    color: var(--input-text-color);
    background-color: var(--input-color);
    position: relative;
}

input:disabled {
    cursor: not-allowed !important;
    filter: brightness(80%);
}

.input-std-resp {
    @media (hover: none) {
        font-size: 1.1rem !important;

        @include medium {
            font-size: 1.2rem !important;
        }

        @include small {
            font-size: 1.2rem !important;
        }
    }
}

.red-outline {
    outline: 0.2em solid var(--alert-color) !important;
}

/* Form shake animation*/
/*
.form-shake, .shake {
    animation: shake 0.3s;
}

@keyframes shake {
    0% {
        transform: translateX(0%);
    }
    20% {
        transform: translateX(-8%);
    }
    40% {
        transform: translateX(5%);
    }
    60% {
        transform: translateX(-3%);
    }
    80% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0%);
    }
}
*/

/* Spin animation */
.spin {
    animation: spin 4s linear infinite;
}
  
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* HR */
hr {
    border: none;
}
